# Node.js Dependencies
/node_modules

# Build artifacts
/build
/dist

# Backend specific files
/backend/*.log

# Frontend specific files
/frontend/.cache
/frontend/build
/frontend/node_modules

# Environment variables
.env
